<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Course Registration System</title>
    <style type="text/css">
    <!--
    -->
    </style>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="css/jquery.js"></script>
    <script type="text/javascript" src="js/credit.js"></script>
  </head>
  <body>
  <div align="right" style="margin-right: 20px">{{ email }}</div>
  <br>
  <div align="right" style="margin-right: 20px">
    <form id="logout" name="logout" method="post" action="/Logout">
      <input type="submit" name="logout" value="Logout">
    </form>
  </div>
    <table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" class="font2"><div style="margin-bottom:15px;">Course Registration System</div></td>
      </tr>
      <tr>
        <td>
          <table width="300" border="0" cellpadding="10" cellspacing="0" id="head">
            <tr>
              <td width="150" align="center" bgcolor="#FFFFCC"><a href="/">Home</a></td>
              <td width="150" align="center" bgcolor="#FFFFCC"><a href="/Course">Course</a></td>
              <td width="150" align="center" bgcolor="#FFFFCC"><a href="/Credit">Credit</a></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" bgcolor="#FFFFCC">
          <div style="margin-top:10px; margin-bottom:10px;">
            <form action="/CreditHandler" method="POST" enctype="multipart/form-data">
              <div>
                <input type="radio" class="rType" id="spec" name="rate" value="spec">Fee per Subject<br>
                <input type="radio" class="rType" id="rate" name="rate" value="flat">Flat Rate
                <div id="viewFlatRate">
                  <select name="faculty" id="faculty">
                    {% for row in faculty  %}
                    <option value="{{ row[0] }}">{{ row[1] }}</option>
                    {% endfor %}
                  </select>
                  <select name="department" id="department">
                  </select>
                  <input type="text" name="price" id="price" value="">Baht
                </div>
              </div>
              <input style="width:140px; height:30px;" type="button" name="back" id="back" value="Back" onclick="window.history.back()">
              <input style="width:140px; height:30px;" type="submit" name="save" id="save" value="Save">
            </form>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
<script type="text/javascript">
$(function() {
      var faculty = [];
      {% for row in faculty  %}
          var department = "{{row[5]}}".split(',');
            var array = {
              'faculty' : "{{row[0]}}",
              'department' : department
            };
            faculty.push(array);
      {% endfor %} 

      $("#faculty").change(function() {
        var value = $(this).val();
        
        $.each(faculty, function(i,v) {
          if(v.faculty ==value) {
              $("#department").empty();
            $.each(v.department, function(i2,v2) {
              $("#department").append('<option value="' + v2  + '">' + v2 + '</option>');
            }); 
          }
        });
      });
      $("#faculty").trigger('change');

      var payment_type = "{{payment_type}}";
      if(payment_type == "1") { 
        $("#spec").prop('checked', true);
      } else {
        $("#rate").prop('checked', true);
        $("#viewFlatRate").show();
      }
  });
</script>
